@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
<div class="section-title">
    <h2 class="headertekst">Find room</h2>
</div>
<form asp-page="/Index" method="get" role="form">
    <div class="row">
        <div class="col-md-4 form-group">
            <label asp-for="SearchByCount" class="text-primary text-center"></label>
            <input asp-for="SearchByCount" value="searchByCount" class="form-control" />
            <span asp-validation-for="SearchByCount" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group mt-3 mt-md-0">
            <label asp-for="SearchByDuration" class="text-primary text-center"></label>
            <input asp-for="SearchByDuration" class="form-control" />
            <span asp-validation-for="SearchByDuration" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group mt-3 mt-md-0">
            <label asp-for="SearchByDate" class="text-primary text-center"></label>
            <input type="date" asp-for="SearchByDate" value="searchByDate" class="form-control" />
            <span asp-validation-for="SearchByDate" class="text-danger"></span>
        </div>
    </div>
    <div class="text-center"><button type="submit" class="btn btn-outline-primary">Find</button></div>
</form>

<div class="container">
    <div class="row">
        @if (Model.PageViewModel.Count > 0)
        {
            @foreach (var item in Model.PageViewModel)
            {

                <form asp-page="/Rooms" method="post" enctype="multipart/form-data">
                    <h4 class="text-center">@item.RoomName</h4>
                    <div class="form-group">
                        <input type="hidden" name="RoomName" value="@item.RoomName" />
                        <select multiple class="form-control" id="exampleFormControlSelect2" name="date">

                            @foreach (var schedule in item.Schedules)
                            {
                                <option value="@schedule.From - @schedule.To">@schedule.From - @schedule.To</option>

                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            }
        }


    </div>
</div>